#transaction {
    width: 300px;
    margin: 0 auto;
  }
  
  .add-form {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  .add-form p {
    font-size: 18px;
    font-weight: bold;
  }
  
  .add-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .add-form input[type="radio"],
  .add-form input[type="checkbox"] {
    display: inline-block;
    margin-top: 10px;
  }
  
  .add-form select {
    margin-top: 10px;
    padding: 6px;
    width: 100%;
  }
  
  .add-form input[type="text"] {
    margin-top: 10px;
    padding: 6px;
    width: 100%;
  }
  
  .add-form button {
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #1c6ea4;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .add-form button:hover {
    background-color: #144e75;
  }
  