
<div *ngIf = "!enable_Register" class="login">
    <h3>Welcome to Bworks</h3>
    <div>
        <form class="add-form" >
           <p>
            Sign in with your email account
           </p>
           <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" [(ngModel)]="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" [(ngModel)] ="password"><br>

            <!-- <input type="text" id="email" name="email" [(ngModel)]="email"><br>
            <input type="password" id="password" name="password" [(ngModel)]="password"><br> -->

            <!--<input type="submit" value="submit" (click)="login()">--> 
            <!-- <button (click)="login()"> Submit </button> -->
            <button class="myButton" (click)="login()">Submit</button>
 
           <!-- To make a commit -->
            </form>
    </div>
    <div>
        <p> Don't have an account? </p>
        <!--<a href=""> Sign up now  </a> -->
        <!-- <button (click) = "register()"> Sign up now </button> -->
        <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Signup now</a></li>
 
    </div>

</div>
<router-outlet></router-outlet>

<!-- <app-register>
    
</app-register> -->
<!-- <app-transaction *ngIf = "transaction_enable"> 
</app-transaction> -->

