
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
   
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
   








<div *ngIf = "!enable_Register">
    <h3>Welcome to Bworks</h3>
    <div>
        <form class="add-form" >
           <p>
            Sign in with your email account
           </p>
           <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" [(ngModel)]="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" [(ngModel)] ="password"><br>
            <!--<input type="submit" value="submit" (click)="login()">--> 
            <button (click)="login()"> Submit </button> 
           
            </form>
    </div>
    <div>
        <p> Don't have an account? </p>
        <!--<a href=""> Sign up now  </a> -->
        <!-- <button (click) = "register()"> Sign up now </button> -->
        <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Signup now</a></li>
        
       
       
    </div>
</div>
<router-outlet></router-outlet>

<!-- <app-register>
    
</app-register> -->
<!-- <app-transaction *ngIf = "transaction_enable"> 
</app-transaction> -->

